{% extends 'base.html' %}

{% block title %}Inicio - Sistema Uber{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="mb-4" style="color: #007bff;">Bienvenido al Sistema de Administración Uber</h1>
        <p class="lead mb-4" style="color: #6c757d;">
            Aquí podrá gestionar de manera eficiente todos los aspectos relacionados con los usuarios pasajeros, choferes y viajes.
            Utilice el menú de navegación para acceder a las diferentes funcionalidades del sistema.
        </p>
        <div class="card shadow-sm mb-5">
            <div class="card-body">
                <p class="card-text" style="color: #495057;">
                    Nuestro sistema está diseñado para simplificar la administración y mejorar la experiencia tanto de los pasajeros como de los conductores.
                    Disfrute de una interfaz intuitiva y herramientas potentes para llevar el control de su operación.
                </p>
            </div>
        </div>
        <img src="https://i.blogs.es/4493f9/uber-beneficios-para-socios-conductores/1366_2000.jpeg" alt="Imagen de Uber" style="max-width: 80%; height: auto;">
    </div>
</div>
{% endblock %}